# ==============================
# Environment & Secrets
# ==============================
.env
.env.*
*.key
*.pem

# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.log

# ==============================
# Django
# ==============================
db.sqlite3
media/
staticfiles/

# ==============================
# Virtual Environment
# ==============================
venv/

# ==============================
# Docker
# ==============================
*.tar
docker-data/

# ==============================
# OS / Editor
# ==============================
.DS_Store
Thumbs.db
.vscode/
.idea/
